.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.headerSection {
  background-color: wheat;
  padding: 50px;
  width: 100%;

}

.headerSection.headerContainer{
  padding: 40px;
  background-color: wheat;
}

.headerSection.headerContainer.myPicture{
  width: 600px;
  border-radius: 8px;
  padding: auto;
}

ul{
  background-color: transparent;
  list-style-type: none;
  width: 400px;
}

li{
  padding: 20px;
  background-image:  ;
}

label{
  position: absolute;
  padding-left: 10px;
  font-size: larger;
}

