
.homePage {
  background-color: black;
}

.headerSection {
  background-color: black;
  padding: 50px;
  width: 100%;

}

.headerSection.headerContainer{
  padding: 40px;
  background-color: wheat;
}

.headerSection.headerContainer.myPicture{
  width: 600px;
  border-radius: 8px;
  padding: auto;
}

ul{
  background-color: transparent;
  list-style-type: none;
  width: 400px;
}

li{
  padding: 20px;
  background-image:  ;
}

label{
  position: absolute;
  padding-left: 10px;
  font-size: larger;
  color: black;
}

.AboutMeContainer{
  background-color: black;
  padding: 50px;
  width: 100%;
  height: auto;
}
.AboutMeContainer p{
  font-size: large;
  font-style: italic;
  font-family: auto;
  font-variant: common-ligatures;
  background-color: wheat;
  padding: 40px;
  border-style: dotted;
  border-color: black;
}
.AboutMeContainer h3{
  padding: 30px;
  color: wheat;
  text-align: center;
  text-decoration: underline; 
  font-size: larger;
}
