
.headerSection {
  background-color: wheat;
  padding: 50px;
  width: 100%;

}

.headerSection.headerContainer{
  padding: 40px;
  background-color: wheat;
}

.headerSection.headerContainer.myPicture{
  width: 600px;
  border-radius: 8px;
  padding: auto;
}

ul{
  background-color: transparent;
  list-style-type: none;
  width: 400px;
}

li{
  padding: 20px;
  background-image:  ;
}

label{
  position: absolute;
  padding-left: 10px;
  font-size: larger;
}

.AboutMeContainer{
  width: 100%;
  height: auto;
  position: fixed;
}
.AboutMeContainer p{
  padding: 40px;
  border-style: dotted;
  border-color: black;
}